.mdiv{background-color:rgb(70, 35, 126)}


iframe{min-width:350px;min-height:250px;aspect-ratio:auto;}

.ytd{width:100%;height:auto;background-color:rgb(19, 19, 19)}

.nav{background-color:rgb(19, 19, 19)}

